<!DOCTYPE html>
<html>
<head>
    <script src="angular.min.js"></script>
    <script src="myscript.js" type="text/javascript"></script>
</head>
    <body ng-app="myModule" ng-controller="myController">
        <table>
            <thead>
                <tr>
                    <th>Techs</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>Buttons</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="technology in languages">
                    <td> {{technology.name }}</td>
                    <td> {{technology.likes }}</td>
                    <td> {{technology.dislikes }}</td>
                    <td>
                        <input type="button" value="Likes" ng-click="increment(technology)" />
                        <input type="button" value="Dislikes" ng-click="decrement(technology)" />
                    </td>
                </tr>
            </tbody>
        </table>

    </body>
</html>